<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<nav th:replace="fragments/fragment :: navbar('Home')"></nav>

<body>
<h2>Selamat Datang di SIPILOT!</h2>

<h3>Daftar fitur:</h3>
<td><a th:href="@{/pilot}">Pilot</a></td>
<!--<td><a th:href="@{/penerbangan}">Penerbangan</a></td>-->
<!--<td><a th:href="@{/pilot}">Pilot</a></td>-->

</body>
</html>