<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cek</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cari Pilot Terbanyak')"></nav>

<table class="table table-striped">
    <thead>
    <tr class="text-light" style="background-color: #0c5460">
        <th>No</th>
        <th>Nama</th>
        <th>NIP</th>
        <th>Jumlah Penerbangan</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pilot, iterationStatus : ${semua}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${pilot.getNama()}"></td>
        <td th:text="${pilot.getNip()}"></td>
        <td th:text="${pilot.getTanggal_lahir()}"></td>
        <td th:text="${pilot.getJenis_kelamin()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>