<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>

    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>

<body>
<nav th:fragment="navbar(title)" class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #1b4464">
    <a th:text="SIPILOT" class="navbar-brand font-weight-bold text-primary" href="/"></a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavAltMarkup"
             aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only"> (current)</span> </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/pilot}">Pilot<span class="sr-only"> (current)</span> </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/penerbangan}">Penerbangan<span class="sr-only"> (current)</span> </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/cari/pilot}">Cari Pilot<span class="sr-only"> (current)</span></a></td>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/cari/pilot/bulan-ini}">Bonus<span class="sr-only"> (current)</span></a></td>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <a th:text="${title}" class="nav-item nav-link active text-secondary" th:href="@{/}"></a>
    </ul>
</nav>
</body>
</html>